.switch {
    position: absolute;
    display: inline-block;
    right: 0;
    width: 100px;
    height: 45px;
    margin: 10px;

}
  
  /* Hide default HTML checkbox */
  .switch__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}
