.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;

    background-color: #13678A;
    font-weight: bolder;
    padding: 5px;
}
  
.switch__slider_disabled {
    background-color: #ccc;
}

.switch__slider:before {
    position: absolute;
    content: "";
    height: 37.5px;
    width: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 1;
}
  
.switch__checkbox:checked + .switch__slider { background-color: #45C4B0;  }
  
.switch__checkbox:focus + .switch__slider { box-shadow: 0 0 1px #45C4B0; }
  
.switch__checkbox:checked + .switch__slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(117.5%);
    width: 42.5%;
}

  /* Rounded sliders */
.switch__slider_round { border-radius: 2px; }
  
.switch__slider_round:before { border-radius: 2px; }
  