.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
  margin: 0;
  height: 100%;

  font-size: 15px;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#gcp-table {
    position: absolute;
    right: 0;
    bottom: 25px;
    margin: 0 auto;
    white-space: normal;
}

.btn {
    cursor: pointer;
    position: absolute;

    padding: 5px;
    border: 1px solid rgba(181, 179, 179, 0.852);
    border-radius: 2px;

    color: rgb(83, 83, 83);
    font-weight: bolder;
    background-color: #FCFCFC;
}

.btn_disabled {
    color: #ccc;
    cursor: default;
}

.btn:not(.btn_disabled):active {
    background-color: #2196F3;
}
