.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
  margin: 0;
  height: 100%;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.upload-btn {
  position: absolute;
  z-index: 1;
  left: 50px;
  font-weight: bolder;
  font-size: 15px;
  color: rgb(83, 83, 83);

  border: 1px solid rgba(181, 179, 179, 0.852);
  border-radius: 2px;
  background-color: #FCFCFC;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.georef-btn {
    position: absolute;
    text-align: center;
    font-weight: bolder;
    padding: 5px;
    font-size: 15px;

    border: 1px solid rgba(181, 179, 179, 0.852);
    left: 50%;
    transform: translate(-50%, 0);
}

.georef-btn:enabled {
    background-color: #FCFCFC;
    color: rgb(83, 83, 83);
}

.georef-btn:active {
    background-color: #2196F3;
}

#gcp-table {
    position: absolute;
    right: 0;
    bottom: 25px;
    margin: 0 auto;
    white-space: normal;
}