@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.upload-btn {
  position: absolute;
  z-index: 1;
  left: 50px;

  border-radius: 2px;
  background-color: #f0f0f0;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.extent-btn {
    position: absolute;
    left: 0;
    right: 0;
    width: 50px;
    margin: 0 auto;
    white-space: normal;
}